<div class="well" style="margin-top: 20px;padding-top: 5px;">
    <div class="row">
        <h3 style="margin-top: 0;">{{title}}</h3>

        <div class="col-sm-6">
            <input type="file" nv-file-select="" uploader="uploader" />
        </div>
        <div class="col-sm-6" style="margin-top: -10px;">
            <button type="button" class="btn btn-default btn-sm" ng-click="uploader.uploadAll()"
                    ng-disabled="!uploader.getNotUploadedItems().length">
                <span class="glyphicon glyphicon-upload"></span> 导入
            </button>
        </div>
    </div>

    <div class="row">
        <div>
            上传进度:
            <div class="progress" style="">
                <div class="progress-bar" role="progressbar"
                     ng-style="{ 'width': uploader.progress + '%' }"></div>
            </div>
        </div>
        <p>文件大小: {{ uploader.queue.length }} {{message}} </p>
    </div>
</div>
